body {
    font-family: sans-serif;
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2;
}

.input-boxes {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
}

.operations {

}